extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug


block variables
    - const title = "Главная"

block content
    section#breadcrumbs
        .container
            +h2('Хлебные крошки')
            +breadcrumb([
                {
                    link: "/",
                    text: "Главная",
                },
                {
                    link: "/",
                    text: "Элементы",
                    isActive: true,
                },
            ])
    section#buttons
        .container
            +h2('Кнопки')
            .buttons
                +h3('Кнопки')
                button.btn Кнопка
                button.btn.btn-disabled Кнопка
            br
            .buttons
                +h3('Кнопки с закругленными углами')
                button.btn.btn-round Кнопка с закругленными углами
                button.btn.btn-disabled.btn-round Кнопка с закругленными углами
            br
            .buttons
                +h3('Кнопка cсылка')
                button.btn.btn-link.btn-round Кнопка ссылка
                    a(data-popup href="#callback")
            br
            .buttons
                +h3('Кнопка отправки')
                button.btn.btn-round(type="submit") Кнопка отправки
                button.btn.btn-loading.btn-round(type="submit") Кнопка отправки
                button.btn.btn-success.btn-round(type="submit") Кнопка отправки
                button.btn.btn-round.btn-disabled(type="submit") Кнопка отправки
    section#inputs
        .container
            +h2('Текстовые поля')
            +h3('Без иконок')
            +input({
                type: 'text',
                placeholder: 'Введите ваше имя',
                label: false,
                required: true
            })
            br
            +input({
                type: 'tel',
                placeholder: 'Введите ваш телефон',
                label: false,
                required: true
            })
            br
            +textarea({
                placeholder: 'Введите сообщение',
                label: false,
                required: false
            })
            +h3('С иконкой')
            +input-icon({
                type: 'tel',
                placeholder: 'Введите ваше имя',
                label: false,
                required: true,
                icon: "#ic_person"
            })
    section#selects
        .container
            +h2('Select')
            +select({
                title: "Выберите",
                data: ['Выберите', 'Опция 1', 'Опция 2'],
                required: true,
            })
            br
            +select-icon({
                title: "Выберите",
                data: ['Выберите', 'Опция 1', 'Опция 2'],
                required: true,
                icon: "#ic_person",
            })
    section#forms
        .container
            +h2('Формы')
            form(action="/")
                .form__field
                    +input({
                        type: 'text',
                        placeholder: 'Введите ваше имя',
                        label: false,
                        required: true
                    })
                .form__field
                    +input({
                        type: 'tel',
                        placeholder: 'Введите ваш телефон',
                        label: false,
                        required: true
                    })
                .form__field
                    +textarea({
                        placeholder: 'Введите сообщение',
                        label: false,
                        required: false
                    })
                button.btn(type="submit") Отправить
    section#checkbox
        .container
            +h2('Радиокнопки')
            +h3('Радиокнопки')
            +radio({
                label: 'Unchecked',
                name: 'name',
                check: false,
                disabled: false
            })
            +radio({
                label: 'Checked',
                name: 'name',
                check: true,
                disabled: false
            })
            +radio({
                label: 'Disabled',
                name: 'name',
                check: false,
                disabled: true
            })
            +h3('Чекбоксы')
            +checkbox({
                label: 'Unchecked',
                check: false,
                disabled: false
            })
            +checkbox({
                label: 'Unchecked & disabled',
                check: false,
                disabled: true
            })
            +checkbox({
                label: 'Checked',
                check: true,
                disabled: false
            })
            +checkbox({
                label: 'Checked & disabled',
                check: true,
                disabled: true
            })
    section#edittext
        .container
            .edit-content
                h1 Заголовок h1
                h2 Заголовок h2
                h3 Заголовок h3
                h4 Заголовок h4
                br
                h3 Параграф p
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h3 Other tags
                br
                h4 Ссылка
                a.link-hover(href="#" title="Ссылка на ресурс") Ссылка на ресурс
                br
                br
                h4 Bold
                br
                bold Lorem ipsum dolor sit amet, consectetur
                br
                br
                h4 Italic
                br
                i Lorem ipsum dolor sit amet, consectetur
                br
                br
                h3 Маркированный список
                ul
                    li Item 1
                    li Item 2
                    li Item 3
                h3 Нумерованный список
                ol
                    li Item 1
                    li Item 2
                    li Item 3
                .table
                    table
                        tbody
                            tr.head
                                th Заголовок таблицы
                                th Заголовок таблицы
                            tr.row
                                th Столбец таблицы
                                th Столбец таблицы
                            tr.row
                                th Столбец таблицы
                                th Столбец таблицы
                            tr.row
                                th Столбец таблицы
                                th Столбец таблицы


    section#tables
        .container
            +h2('Адаптивная таблица')
            .edit-content
                +responsiveTable({
                    head: ['Заголовок 1','Заголовок 2','Заголовок 3'],
                    body: {
                        0: ['123','123','123'],
                        1: ['123','123','123'],
                    }
                })
    +callbackPopup()
block scripts
    script(src="js/main.js")