.section-h1,
h1 {
  font-size: 44px;
  line-height: 60px / 48px * 100%;


  @media screen and (min-width: 360px) {
    font-size: 48px;
  }

  @media screen and (min-width: 641px) {
    font-size: 64px;
  }

  @media screen and (min-width: 830px) {
    font-size: 80px;
  }

  @media screen and (min-width: 1152px) {
    font-size: 96px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 112px;
  }


}

.section-h2,
h2 {
  font-size: 48px;
  line-height: 60px / 48px * 100%;

  @media screen and (min-width: 768px) {
    font-size: 64px;
  }

  @media screen and (min-width: 1152px) {
    font-size: 72px;
  }
}

.section-h3,
h3 {
  font-size: 36px;
  line-height: 48px / 36px * 100%;

  @media screen and (min-width: 768px) {
    font-size: 42px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 48px;
  }

}

.italic {
  font-style: italic;
  font-family: 'Playfair Display', serif;
}