footer.footer
    .container
        .footer-map(data-aos="fade" data-aos-delay="50")
            #map(data-x="55.710129" data-y="37.654610")
        .footer-info
            .footer-info__item
                .name Адрес
                .value 115280, г. Москва, Ленинская Слобода, 26
            .footer-info__item
                .name Телефон
                .value
                    a(href="tel:8 800 777-68-94") 8 800 777-68-94
                    a(href="tel:8 495 108-46-95") 8 495 108-46-95
                .caption.
                    Будни с 9-00 до 21-00<br>
                    Суббота с 10-00 до 19-00<br>
                    Воскресенье выходной день
            .footer-info__item
                .name Email
                .value
                    a(href="mailto:info@doctorlider.ru") info@doctorlider.ru
            a(href="#").footer-info__btn.btn.btn-white.btn-with-icon
                span Записаться на приём
                +icons('#ic-go', 16)
        .footer-developer
            .footer-developer__caption Digital-агентство
            a(href="//promicom.by").footer-developer__logo: img(src="/img/common/promicom.svg" width="158" height="16")
